@charset "UTF-8";

body {
	overflow: hidden;
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
#app {
	min-height: 100vh;
	user-select: none;
	cursor: default;
	animation: fadein 0.5s; /* Smoother startup */

	display: grid;
	grid-template-rows: 0 0 $h-viewer 0;
	grid-template-columns: auto;
	grid-template-areas: 
	"window-title window-title"
	"toolbar toolbar"
	"viewer viewer"
	"thumbnail-bar thumbnail-bar";
}
.window-title {
	grid-area: window-title;
}
.toolbar {
	grid-area: toolbar;
}
.viewer {
	grid-area: viewer;
}
.thumbnail-bar {
	grid-area: thumbnail-bar;
}









