@charset "UTF-8";

body {
	overflow: hidden;
}
#app {
	min-height: 100vh;
	user-select: none;
	cursor: default;

	display: grid;
	grid-template-rows: $h-window-title $h-toolbar $h-viewer $h-thumbnail-bar;
	grid-template-columns: auto;
	grid-template-areas: 
	"window-title window-title"
	"toolbar toolbar"
	"viewer viewer"
	"thumbnail-bar thumbnail-bar";
}
.window-title {
	grid-area: window-title;
}
.toolbar {
	grid-area: toolbar;
}
.viewer {
	grid-area: viewer;
}
.thumbnail-bar {
	grid-area: thumbnail-bar;
}









