@charset "UTF-8";

.thumbnail-bar {
	background-color: rgba($color-thumbnail-bar, 0.7);

	position: fixed;
	bottom: 0;
	z-index: 98;
	width: 100vw;
	height: $h-thumbnail-bar;
	backdrop-filter: blur(30px);

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow-x: auto;

	.thumb {
		width: auto;
		height: 100%;
		padding: 1rem 0.5rem;
		flex: 0 0 auto;
		align-items: center;
		display: inline-flex;
		opacity: 0.5;
		transition: all 200ms ease;
		
		img {
			display: block;
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}

		&:first-child {
			padding-left: 1rem;
		}
		&:last-child {
			padding-right: 1rem;
		}

		&:hover {
			opacity: 1;
			background-color: rgba(#fff, 0.1);
			box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.3), inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
		}

		&.selected {
			opacity: 1;
			background-color: rgba(#fff, 0.1);
			box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.4);

			&:hover {
				background-color: rgba(#fff, 0.2);
				box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.4);
			}
		}

	}
}



